<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cars List By Brands</title>
</head>
<body style="background-color: orange;">
<form id="pform" th:action="@{/succCarBooking}" method="POST"></form>
<form id="cform" th:action="@{/succCarBooking}" method="POST"></form>
<table id="table" border="1">
<tr>
<th>Select Radio</th>
<th>Brand</th>
<th>Fuel</th>
<th>Model</th>
<th>No Of Kms</th>
<th>Price</th>
<th>Year</th>
</tr>
<tr th:each="cars: ${carsList}">            
            <td> 
 				 <input type="radio" th:object="${cars}" th:value="${cars}" name="cars" form="cform" required>
 			</td>
           	<td th:text="${cars.brand}" th:field="*{brand}" th:form="cform">brand</td>
           	<td th:text="${cars.fuel}" th:field="*{fuel}" th:form="cform">fuel</td>
            <td th:text="${cars.model}" th:field="*{model}" th:form="cform">model</td>
            <td th:text="${cars.no_Of_Kms}" th:field="*{no_Of_Kms}" th:form="cform">no_Of_Kms</td>
            <td th:text="${cars.price}" th:field="*{price}" th:form="cform">price</td>
            <td th:text="${cars.year}" th:field="*{year}" th:form="cform">year</td>          
</tr>
</table>
	
 			<input type="submit" name="bookCar" value="Book Car" form="cform">                                   
			<input type="submit" name="mBack" value="Back" form="pform">
			<input type="submit" name="home" value="Home" form="pform">
</body>
</html>
